@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  min-height: 100vh;
  background-color: rgb(243, 244, 246);
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  appearance: none;
  text-align: -webkit-center;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: -webkit-center;
}

input[type="radio"]:checked + label {
  opacity: 1;
}

@layer components {
  .navbar-link {
    @apply text-center py-4 px-8 border hover:bg-white border-white rounded-md text-lg hover:text-black
        w-[60%] max-w-[350px];
  }

  .card-container {
    @apply flex flex-col gap-4 items-start justify-center max-w-[600px] w-full;
  }

  .card-container > p {
    @apply text-gray-400;
  }

  .card {
    @apply bg-white rounded-xl shadow-xl w-full text-gray-600 flex flex-col gap-4 py-8 px-4 items-center justify-between;
  }

  .input {
    @apply h-12 border  border-gray-400 animation items-center shadow-md rounded-md overflow-hidden text-center text-lg outline-none;
  }

  .animation {
    @apply hover:scale-95 transition-all cursor-pointer hover:opacity-80;
  }
}
